bin/
!lms_edge_gateway/rootfs/usr/local/bin/
!lms_edge_gateway/rootfs/usr/local/bin/**
obj/
.idea/
.vs/
.vscode/
TestResults/
artifacts/
local-data/
local-tesla-data/
**/data/
**/local-edge-debug-data/
**/wwwroot/images/ChatGPT Image*
*.user
*.rsuser
*.suo
